.nav-rev{ flex:8; }
.nav-estimator{ flex:2; }
.nav-faq{ flex:1; }
.nav-line{
	height: 1.5px;
	background: linear-gradient( 90deg, #08E967, #9B51E0 );
}

.first-panel{
	height: 500px;
}

.first-panel::after{
	content: "";
	background-image: url("/assets/first-panel-background.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.first-panel-savings{
	height: 600px;
}
.first-panel-savings::after{
	content: "";
	background-image: url("/assets/first-panel-background.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.second-panel-savings{
	height: 625px;
    background-color: darkgray;
}
.third-panel-savings{
	height: 900px;
    background-color: slategray;
}

@import './_normalize';

/* custom css for card */
.ba {
    border-style: solid;
    border-width: 1px;
    background-color: #f4f4f4;
}

.bt {
    border-top-style: none;
    border-top-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br3 {
    border-radius: none;
}

.br--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.lh-copy {
    line-height: 1.5;
}

.mw5 {
    max-width: 16rem;
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.bg-near-white {
    background-color: #f4f4f4;
}

.pa3 {
    padding: 1rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .mw6-ns {
        max-width: 32rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}
