.nav-rev{ flex:8; }
.nav-estimator{ flex:2; }
.nav-faq{ flex:1; }
.nav-line{
	height: 1.5px;
	background: linear-gradient( 90deg, #08E967, #9B51E0 );
}

.first-panel{
	height: 500px;
}

.first-panel::after{
	content: "";
	background-image: url("/assets/first-panel-background.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.first-panel-savings{
	height: 620px;
}
.first-panel-savings::after{
	content: "";
	background-image: url("/assets/first-panel-background.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.second-panel-savings{
	height: 625px;
    background-color: darkgray;
}
.third-panel-savings{
	height: 900px;
    background-color: slategray;
}
